button {
   border: none;
   margin: 1%;
   padding: 1%;
}

button:hover {
   cursor: pointer;
   color: blue;
}

/* BOOKS */
.books-container {
   flex-wrap: wrap;
}

.book-container {
   max-width: 40;
   margin: 3%;
   padding: 3%;
}

.book-cover img {
   max-width: 20%;
}

/* FILTERS */
.filter-buttons button.active {
   background-color: rgba(128, 128, 128, 0.616);
   color: blue;
}